.text1 {
  padding: 10px 18px;
  display: inline;
  background-color: black;
  opacity: 0.75;
  letter-spacing: 4px; }

.text2 {
  display: inline; }

.carousel-caption {
  bottom: 42%; }

.imgText {
  background-color: black;
  position: absolute;
  z-index: 1;
  color: white;
  height: fit-content;
  padding: 0.5%;
  font-family: sans-serif;
  letter-spacing: 0px;
  padding: 0.25rem; }

.row img {
  width: 100%; }

.name {
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 22px;
  font-family: sans-serif;
  padding: 8px; }

.designation {
  letter-spacing: 0px;
  font-size: 18px;
  color: #DFD9D9;
  opacity: 0.6;
  padding: 8px; }

.description {
  letter-spacing: 1px;
  line-height: 1.5em;
  padding-bottom: 10px;
  padding: 8px; }
